/* Global classes */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif
}

.title {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    display: inline-block;
}

.sub-title {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 1rem;
}

.btn {
    font-size: 1.2rem;
    color: #fff;
    padding: 0.7rem 1.5rem;
    text-decoration: none;
    border: 2px solid #fff;
    display: inline-block;
    transition: all 0.4s ease;
}

.btn:hover {
    background: #fff;
    color: #222;
}

.light-btn {
    color: #222;
    border: 2px solid #222;
}

.dark-btn {
    background: #222;
    color: #fff;
    border: 2px solid #222;
}

.dark-btn:hover {
    border: 2px solid #222;
}

.light-btn:hover {
    background: #222;
    color: #fff;
}

.center {
    text-align: center;
    padding: 5% 10%;
}

/* === Header ===*/
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.5s;
}

.logo a {
    color: #fff;
    font-size: 2rem;
    text-decoration: none;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    width: 40%;
    list-style: none;
}

.nav-links a {

    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: all 0.3s ease;
}

.nav-links a:hover {
    background: #fff;
    color: #222;
}

.burger-menu {
    display: none;
    cursor: pointer;
}

.burger-menu > div {
    background: #fff;
    width: 1.5rem;
    height: 3px;
    margin: 0.3rem;
    transition: all 0.3s ease;
}

header {
    background: url("img/hero-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 95vh;
    width: 100%;
}

.header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.header-content h1 {
    font-size: 5rem;
    color: #fff;
    margin-bottom: 1rem;
}

/* === Main === */

/* About section */
.about-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: space-around;
}

.about-info {
    text-align: start;
    display: flex;
    justify-self: center;
    flex-direction: column;
    max-width: 35rem;
}

.buttons {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
}

.profile-image {
    display: flex;
    justify-self: center;
}

.pic {
    height: 25rem;
    width: 25rem;
    background: #222;
    border-radius: 50%;
}

/* Work section */
.work-content {
    background: #f1f1f1;
}

.work-social {
    display: flex;
    justify-content: space-around;
    align-items: center;    
    margin-top: 2rem;
}

.work-social i {
    font-size: 15rem;
    color: #222;
    margin-bottom: 1rem;
}

.work-social a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #222;
}

/* Skills section */
.skills-icons {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: space-around;
}

.skills-content i {
    color: #222;
    font-size: 15rem;
}

/* Contact Section */
.contact-content {
    background: #f1f1f1;
}

.contact-content span {
    font-weight: bold;
}

/* === Footer === */
.footer-content {
    color: #fff;
    background: #222;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Media Queries */
@media (max-width: 62rem) {
    header {
        height: 90vh;
    }

    .nav-links {
        width: 50%;
    }

    .about-content {
        grid-template-columns: 1fr;
    }

    .about-info {
        text-align: center;
        margin-bottom: 2rem;
    }

    .buttons {
        justify-content: center;
    }

    .work-social i {
        font-size: 12rem;
    }

    .skills-content i {
        font-size: 12rem;
    }
}

@media (max-width: 48rem) {
    .logo a {
        font-size: 1.5rem;
    }

    nav {
        background: #222;
        justify-content: space-between;
        padding: 0rem 2rem;
    }

    .nav-links {
        position: fixed;
        right: 0;
        top: 8vh;
        height: 92vh;
        background: #222;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .burger-menu {
        display: block;
    }

    .header-content h1 {
        font-size: 4rem;
    }

    .header-content a {
        display: none;
    }

    .buttons {
        justify-content: center;
        gap: 1rem;
    }

    .pic {
        height: 20rem;
        width: 20rem;
    }

    .work-social {
        flex-direction: column;
    }
}

.nav-active {
    transform: translateX(0%);
}

.header-active {
    background: #222;
    transition: all 0.5s;
    color: #f1f1f1;
}

.rotate .bar1 {
    transform:  rotate(-45deg) translate(-0.3rem, 0.4rem);
}

.rotate .bar2 {
    opacity: 0;
}

.rotate .bar3 {
    transform:  rotate(45deg) translate(-0.3rem, -0.4rem);
}

@media (max-width: 20rem) {
    .title {
        font-size: 2rem;
    }

    .sub-title {
        font-size: 0.9rem;
    }

    .btn {
        font-size: 0.9rem;
        padding: 0.5rem 1.2rem;
    }

    .logo a {
        font-size: 1.2rem;
    }

    .header-content h1 {
        font-size: 3rem;
    }

    .pic {
        height: 13rem;
        width: 13rem;
    }

    .work-social i {
        font-size: 8rem;
    }

    .skills-icons {
        flex-wrap: nowrap;
        flex-direction: column;
    }

    .skills-content i {
        font-size: 8rem;
    }
}