/* Global classes */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

.title {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    display: inline-block;
}

.sub-title {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 1rem;
}

.btn {
    font-size: 1.2rem;
    color: #fff;
    padding: 0.7rem 1.5rem;
    text-decoration: none;
    border: 2px solid #fff;
    display: inline-block;
    transition: all 0.4s ease;
}

.btn:hover {
    background: #fff;
    color: #222;
}

.light-btn {
    color: #222;
    border: 2px solid #222;
}

.dark-btn {
    background: #222;
    color: #fff;
    border: 2px solid #222;
}

.dark-btn:hover {
    border: 2px solid #222;
}

.light-btn:hover {
    background: #222;
    color: #fff;
}

.center {
    text-align: center;
    padding: 5% 10%;
}

/* === Header ===*/
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 1;
}

.logo a {
    color: #fff;
    font-size: 2rem;
    text-decoration: none;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    width: 30%;
    list-style: none;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: all 0.3s ease;
}

.nav-links a:hover {
    background: #fff;
    color: #222;
}

.burger-menu {
    display: none;
    cursor: pointer;
}

.burger-menu > div {
    background: #fff;
    width: 1.5rem;
    height: 3px;
    margin: 0.3rem;
    transition: all 0.3s ease;
}

header {
    background: url("../img/hero-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 95vh;
    width: 100%;
}

.header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.header-content h1 {
    font-size: 5rem;
    color: #fff;
    margin-bottom: 1rem;
}

/* === Main === */

/* About section */
.about-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: space-around;
}

.about-info {
    text-align: start;
    display: flex;
    justify-self: center;
    flex-direction: column;
    max-width: 30rem;
    opacity: 0;
    transform: translateY(2rem);
    transition: all 1500ms ease-in-out;
}
.info-appear {
    opacity: 1;
    transform: translateY(0rem);
}

.buttons {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
}

.profile-image {
    display: flex;
    justify-self: center;
}

.pic {
    height: 20rem;
    width: 20rem;
    background: #222;
    border-radius: 50%;
}

/* Work section */
.work-content {
    background: #f1f1f1;
}

.work-social {
    display: flex;
    justify-content: space-around;
    align-items: center;    
    margin-top: 2rem;
}

.work-social i {
    font-size: 15rem;
    color: #222;
    margin-bottom: 1rem;
}

.work-social a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #222;
}

.work-social a > *:hover {
    color: grey;
}


/* Skills section */
.skills-icons {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: space-around;
}

.skills-content i {
    color: #222;
    font-size: 15rem;
}

/* Contact Section */
.contact-content {
    /* background: #f1f1f1; */
    background: #fff;
}

.contact-content span {
    font-weight: bold;
}

/* === Footer === */
.footer-content {
    color: #fff;
    background: #222;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}